<% if @user %>
	<div class="FUserHeader">		
		<div class="FUserHeaderList">	
			<ul>
				<li style="margin-left:0px">
					<% if @is_author %>
						<%= link_to('删除事件',:controller => 'user_index', :action => 'del_common_event', :id=>"#{@event_id}") %>
					<% else %>
						<% if @is_follow.size!=0 %>
							<%= link_to('取消关注',:controller => 'user_index', :action => 'follow_common_event_cancel', :id=>"#{@event_id}") %>
						<% else %>
	  					<%= link_to('关注此事件',:controller => 'user_index', :action => 'follow_common_event_add', :id=>"#{@event_id}") %>			
						<% end %>
					<% end %>
				</li>

				<li>
					Hi,<%= @user.nick_name %> 大人.看事儿网恭迎您!
				</li>	  							

				<li style="float:right;">	
					<%= link_to('退出', :controller => 'welcome', :action => 'logout') %>
				</li>
				
										
	  		<% if 30==@select_link %>
	  			<li style="float:right;" class="HeaderLinkSelect">						  			
	  		<% else %>
	  			<li style="float:right;">
	  		<% end %>
	  			<%= link_to('设置', :controller => 'user_index', :action => 'setting') %>	  		
	  			</li>		
				
			</ul>
	  </div> <!-- FUserHeaderList -->
	</div> <!-- FUserHeader -->	
	
<% else %>
	<%= render('common/header_nologin') %>
<% end %>

