<% if session[:user_id] %>
	<div class="FUserHeader">
		
		<div class="FHeaderLogo">
			<span style="font-size: 21px"><%= link_to '聚众唠事网', :controller => 'users', :action => 'user_index' %></span>		
		</div>	
		
		<ul class="FHeaderList">	
			<li>
			  <%= link_to '退出', :controller => 'users', :action => 'logout' %>
			</li>				
			
			<li>
				<%= link_to '关于', :controller => 'users', :action => 'qiuxian' %>
			</li>	
		</ul>
	</div> <!-- FHeader -->
	
	
<% else %>
	<div class="FHead">
	  	<span style="font-size: 24px"><%= link_to '聚众唠事网', :controller => 'users', :action => 'index' %></span>
	  	<span ><%= link_to '关于', :controller => 'users', :action => 'qiuxian' %>
	</div>
<% end %>

