<%= render('common/header') %>  <!-- 头部 -->

<div class="FMain">	
	<ul>
	  <% if 901==@select_admin_class %>
			<li style="font-weight:700;">
		<% else %>
			<li>
		<% end %>
			<%= link_to('待审核', :controller => 'user_index', :action => 'my_event',:my_event_class=>"201") %>	
		</li>
	</ul>
	<div style="clear:both"></div>
	
<ul class="FLabelEvent">

	<% @events.each do |event| %>
		<%= link_to({:controller => 'user_index', :action => 'common_event_content', :id=>event}, :target=> "_blank") do %>	  			
			<li>
				<div class="LabelEventTitle">
					<%= event.title	%>
				</div>
				
				<div class="LabelEventAttr">
					楼主:<%= event.author_nick_name %>
					<div>
						条数:<%= event.message_count %>条
					</div>
				</div>
				<%= check_box_tag("ok_verify_ids[]", event.id, value = "1")%> 
    	</li>
		<% end %>
	<% end %>
</ul>	
	
	<%= form_for @user, :url => { :controller => 'admin', :action => 'ok_verify'} do |f| %>

		
		<div style="clear:both"></div>  
		<div style="text-align:center;margin-top:15px">
			<%= f.submit "通过" ,:class => "link-btn-dark"%>
		</div>
	<% end %>		
  	
	<!-- 翻页 -->
	<div class="Paginate">
		<%= paginate @events %>
	</div>

</div>

<%= render('common/footer') %>  <!-- 尾部 -->