<div class="FMain">
  <%= render('common/header') %>  <!-- 头部 -->
  
  <div class="FMainContent">
	 	  
    <div class="FNewForm">
    	<ul style="line-height:25px;margin-left:40px;margin-right:20px;">
    	<li style="margin-top:160px;">
    		来关注事件,看集体爆料！
    	</li>	
    	    	
    	<li style="margin-top:20px;">
    		元芳，这事你怎么看？ 大人，去右边登陆吧。。
    	</li>
    	
    	</ul>
					
	  </div> <!-- FLoginform -->
  	
    <div class="FLoginForm">
			<%= form_for @user, :url => { :controller => 'welcome', :action => 'login'} do |f| %>			
		 	<div style="margin-top:150px;margin-left:150px">
			 	<ul>			 	
				<% if flash[:notice] %>
				<li style="margin-left:40px;margin-top:10px;">
					<div class="LabelLoginErr PublicNoticAreaRed">
					<%= flash[:notice] %>
					</div>  					
				</li>
				<% else %>
				<li style="margin-left:40px;margin-top:20px;">
					<div class="LabelLoginErr">
					
					</div>  					
				</li>				
				<% end %>	
							 	
				<li>
					<label for="user_email" >邮箱</label>      
					<%= f.email_field :name,:class => "txt-ctrl",:length => "25"%>		 		
				</li>
			 	
				<li style="margin-top:25px">
					<label for="user_password">密码</label>
					<%= f.text_field :password,:class => "txt-ctrl"%>			 		
				</li>
				
				<li style="margin-top:15px;margin-left:35px">
					<%= check_box_tag("remember_me_check", value = "1", checked = true, options = {})%> 记住我一周 
					<%= f.submit "一键登陆" ,:class => "link-btn-dark"%>			 	
				</li>
				<!--
				<li style="margin-top:15px;margin-left:35px">
					<%= link_to image_tag("http://static.youku.com/v1.0.0779/partner/img/ico_sina_16x16.png"), '/auth/tsina'%>			 	
					<%=link_to "新浪微博登录", "/auth/tsina"%>						 	
				</li>
				-->
<!--				
	<% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
<% end %>
-->
			
			  </ul>
			</div>
			<% end %>
	  </div> <!-- FLoginForm -->
	  
  
  </div><!-- FMainContent -->
   	
</div>

<%= render('common/footer') %>  <!-- 尾部 -->