<%= render('common/header') %>  <!-- 头部 -->

<div class="FMain">
	<div class="MyEventList">
	<ul>
  <% if 201==@select_my_event %>
		<li style="font-weight:700;">
	<% else %>
		<li>
	<% end %>
		<%= link_to('所有事件', :controller => 'user_index', :action => 'my_event',:my_event_class=>"201") %>	
	</li>	
	
  <% if 202==@select_my_event %>
		<li style="font-weight:700;">
	<% else %>
		<li>
	<% end %>
		<%= link_to('成功发表', :controller => 'user_index', :action => 'my_event',:my_event_class=>"202") %>	
	</li>	
	
  <% if 203==@select_my_event %>
		<li style="font-weight:700;">
	<% else %>
		<li>
	<% end %>
		<%= link_to('审核中', :controller => 'user_index', :action => 'my_event',:my_event_class=>"203") %>	
	</li>	
	
  <% if 204==@select_my_event %>
		<li style="font-weight:700;">
	<% else %>
		<li>
	<% end %>
		<%= link_to('审核失败', :controller => 'user_index', :action => 'my_event',:my_event_class=>"204") %>	
	</li>	
		
	</ul>
	<div style="clear:both"></div>	
	</div>
	
	   
  <%= render('common/event_show') %>  <!-- 内容显示块 -->
  	
	<!-- 翻页 -->
	<div class="Paginate">
		<%= paginate @events %>
	</div>
		
</div>

<%= render('common/footer') %>  <!-- 尾部 -->