<%= render('common/header') %>  <!-- 头部 -->

<div class="FMain">  	  	
	<%= form_tag(:controller => 'user_index', :action => 'setting_commit') do %>
		<ul style="text-align:left; margin-right:50%;">
			<li>	  	
	  		<p>新昵称(6个字符内):</p>
				<%= text_field_tag("new_nick_name", "#{@user.nick_name}",:size => "20x1")%>	 				
				<%= error_message_on @user, :nick_name,:class=>"PublicNoticAreaRed"%>
			</li>
			
			<li style="margin-top:30px">
				<p>旧密码:</p>
				<%= password_field_tag("old_password") %>
				<% if flash[:notice] %>
					<div class="PublicNoticAreaRed" style="display:inline;"><%= flash[:notice] %></div>
				<% end %>
				</br>
				
				
				<p>新密码(长度6-15):</p>
				<%= password_field_tag("password") %>
				<%= error_message_on @user, :password %>
				</br>
				
				<p>再次确认新密码:</p>
				<%= password_field_tag("password_confirmation") %>
				
			</li>
		
			
			<li style="margin-top:20px;width:200px;">			
				<%= submit_tag "提交" ,:class => "link-btn-dark", :name=>"bt_ok"%>				
			</li>
			
			
		</ul>				
	<% end %>			  	
</div>

<%= render('common/footer') %>  <!-- 尾部 -->