<%= render('common/header') %>  <!-- 头部 -->

<div class="FMain">  	  	
	<%= form_tag(:controller => 'user_index', :action => 'setting_commit') do %>
		<ul style="text-align:right;margin-right:50%;">
			<li style="display:inline;">
	  	新昵称(6个字符内)	:  		
				<%= text_field_tag("new_nick_name", "#{@user.nick_name}",:size => "20x1")%>	 				
				<%= error_message_on @user, :nick_name %>
			</li>
			
			<li style="margin-top:30px">
				旧密码:<%= password_field_tag("old_password") %><%= flash[:notice] %></br>	
				新密码(长度6-15):<%= password_field_tag("new_password") %></br>
				再次确认新密码:<%= password_field_tag("new_password_confirmation") %>
			</li>
		
			
			<li style="margin-top:20px;width:200px;">			
				<%= submit_tag "提交" ,:class => "link-btn-dark", :name=>"bt_ok"%>				
			</li>
			
			
		</ul>				
	<% end %>			  	
</div>

<%= render('common/footer') %>  <!-- 尾部 -->